body {
  padding: 0;
  margin: auto 0;
}
header,
section {
  width: 1000px;
  margin: auto;
}
h2 {
  font-family: Roboto;
  color: #d2872c;
  display: inline-block;
  line-height: 0.5;
}
h1 {
  font-family: Roboto;
  color: #766f68;
  font-size: 4em;
  font-weight: 600;
  width: 500px;
}
p {
  font-family: Roboto;
  color: #766f68;
  font-size: 26px;
  width: 380px;
}
nav {
  float: right;
  display: inline;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  font-family: Roboto;
  margin-left: 10px;
}
section {
  height: 700px;
  background-image: url("assets/team.jpg");
  background-repeat: no-repeat;
  background-size: 665px;
  background-position: right;
  background-position-y: 10%;
}
button {
  border: none;
  border-radius: 10px;
  line-height: 3em;
  width: 235px;
  background-color: #d2872c;
  font-family: Roboto;
  font-size: 18px;
  color: #fff;
}
/* Media query */
@media screen and (max-width: 400px) {
  header,
  section {
    width: auto;
    margin: auto;
  }
  nav {
    display: none;
  }
  h2 {
    font-family: Roboto;
    color: #d2872c;
    display: inline-block;
    line-height: 0.5;
    margin-left: 35px;
  }
  h1 {
    font-family: Roboto;
    color: #766f68;
    font-size: 2.5em;
    font-weight: 600;
    width: auto;
    text-align: center;
    padding-top: 180px;
  }
  section {
    height: 700px;
    background-image: url("assets/team.jpg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center 0;
  }
  p {
    text-align: center;
    font-size: 1.1em;
    width: 250px;
    margin: auto;
  }
  button {
    width: 70%;
    margin: 15% 0% 0% 15%;
  }
}git
